.header-wrapper {background-color: #111; color: #f9f9f9;}
.header-wrapper .wrapper {max-width: 1000px; margin: 0 auto;}
/* .header-wrapper .wrapper * {border: 1px solid greenyellow;} */
.header-wrapper .wrapper .logo {float: left;}
.header-wrapper .wrapper .navi-wrap {float: right;}
.header-wrapper .wrapper .navi-wrap .navi {float: left; padding: 16px;}
.header-wrapper .wrapper .navi-wrap .navi:hover {
	background-color: #555;
}